<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>403</title>
  <!-- build:css -->
  <link rel="stylesheet" th:href="@{'/plugins/css/layui.css'}">
  <!-- endbuild -->
</head>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-row">
        <div class="layui-col-md4">&nbsp;</div>
        <div class="layui-col-md4">
          <div class="kit-exception">
            <i class="layui-icon kit-exception-icon">&#xe69c;</i>
            <h3 class="kit-exception-title">:>403 抱歉，你的权限不足，无法访问.</h3>
          </div>
        </div>
        <div class="layui-col-md4">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
<script>
</script>
<style scoped>
</style>
</html>